body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 15px;
}
nav ul li {
  display: inline;
  padding: 5px 10px;
  margin: 3px;
  background-color: lightgray;
  font-variant: small-caps;
  font-weight: bold;
}
nav ul li a {
  text-decoration: none;
}
.active {
  border-bottom: 3px solid blue;
}
nav ul li:hover {
  background-color: rgba(128, 128, 128, 0.472);
  text-decoration: underline;
}
.logo {
  font-weight: bolder;
  color: rgb(248, 56, 23);
  text-align: center;
  text-shadow: 10 10 1 #000;
}
