.product-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50px;
}

.product-img:hover {
    box-shadow: 0 0 2px 1px rgba(8, 7, 80, 0.5);
}

.button {
    display: inline-block;
    border-radius: 2px;
    background-color: transparent;
    border: none;
    color: #773774;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2.5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

ul.remove-dot {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.product-back-img1 {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-weight: bold;
}

.product-back-img1::after {
    content: "";
    background: url(../images/injera.png);
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.product-back-img2 {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-weight: bold;
}

.product-back-img2::after {
    content: "";
    background: url(../images/injera1.png );
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.product-back-img3 {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-weight: bold;
}

.product-back-img3::after {
    content: "";
    background: url(../images/rice.png );
    background-size: contain;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.product-back-img4 {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    font-weight: bold;
}

.product-back-img4::after {
    content: "";
    background: url(../images/juice.png);
    background-size: contain;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.location-img {
    padding: 15px;
    border-radius: 10%;
    border: 2px double rgb(92, 206, 149);
    margin: 4px;
    box-shadow: 0 4px 8px 0 rgba(19, 92, 37, 0.5), 0 6px 20px 0 rgba(19, 92, 37, 0.5);
}